<h3> Add New Project </h3>
<form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>

  <div class="form-group">
    <label> Project name </label>
    <input type="text" required #projectName="ngModel" [class.is-invalid]="projectName.invalid && projectName.touched"
           class="form-control" id="name"
           [(ngModel)]="project.name" name="name">
    <small class="text-danger" [class.d-none]="projectName.valid || projectName.untouched">
      Project Name is required
    </small>
  </div>

  <div class="form-group">
    <label> Company Name </label>
    <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
           class="form-control" id="companyName"
          [(ngModel)]="project.companyName" name="companyName">
    <small class="text-danger" [class.d-none]="name.valid || name.untouched"> Company Name is required</small>
  </div>

  <div class="form-group">
    <label> Key </label>
    <input type="text" #key="ngModel" required pattern="\w\w\w\d\d" [class.is-invalid]="key.invalid && key.touched"
           class="form-control" id="key"
           [(ngModel)]="project.key" name="key">
    <div *ngIf="(key.errors && key.touched) && key.invalid">
      <small class="text-danger" *ngIf="key.errors.pattern">
        The pattern of your key should be 3 strings followed by 2 numbers!
      </small>
      <small class="text-danger" *ngIf="key.errors.required"> A key is required</small>
    </div>

  </div>

  <button [disabled]="userForm.form.invalid" class="btn btn-success" type="submit">Submit</button>
</form>
